@font-face {
    font-family: 'Raleway';
    src: url('Font/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body
{
	font-family: 'Raleway';
}

#bloc_page
{
	width: 900px;
	margin: auto;
}

/* Header */




h1
{
	font-size: 1em;
	font-weight: normal;
}

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav li
{
    margin-right: 20px;
    justify-content: flex-end;
 }

nav a
{
    font-size: 0.9em;
    color: #0065FC;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: rgb(22,91,194);
    border-bottom: 3px
}


/* couleur des stars !*/

.fa-star
{
    color: #F2F2F2;
}

.checked {
  color: #0065FC;
  }





/* Bloc article*/


#article

{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 75%;
    font-size: 0.8em;
	font-weight: normal;
	text-align: justify;
	padding: 50px;
    padding-right: 5px;
    padding-left: 5px;
}


.card img
{
    width: 190px;
    height: 80px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.card:nth-child(1)
{
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    margin-right: 5px;
    padding: 5px;
    order: 1;
}

.card:nth-child(2)

{
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    margin-right: 5px;
    padding: 5px;
    order: 2;
}

.card:nth-child(3)

{
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    margin-right: 5px;
    padding: 5px;
    order: 3;
}

.card:nth-child(4)

{
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    margin-right: 5px;
    padding: 5px;
    order: 4;
}

.card:nth-child(5)

{
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    margin-right: 5px;
    padding: 5px;
    order: 5;
}

.card:nth-child(6)
{
	background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    margin-right: 5px;
    padding: 5px;
    order: 6;
}


/* Bloc aside*/

#aside
{
	display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 100%;
    font-size: 0.8em;
	font-weight: normal;
	text-align: justify;
	padding: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card2 img
{
    width: 80px;
    height: 100px;
    display: flex;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.flotte
{
    float: left;
}

.card2:nth-child(1)
{
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 100px;
    padding-bottom: 5px;
    text-align: justify;
    white-space: nowrap;
    
}


.card2:nth-child(2)

{
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 100px;
    padding-bottom: 5px;
    text-align: justify;
    white-space: nowrap;
    
}


.card2:nth-child(3)
{
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 100px;
    padding-bottom: 5px;
    text-align: justify;
    white-space: nowrap;
    
}


/* Bloc section activites*/

#activites
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    background-color: #FFFFFF;
}

.card3 img
{
    width: 190px;
    height: 250px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    white-space: nowrap;
}

.card3aside img
{
    width: 190px;
    height: 75px;
    float: right;
    width: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    white-space: wrap;
}



/* flexbox */

#section
{
    display: flex;
}
