@font-face {
    font-family: 'Raleway';
    src: url('Font/Raleway-VariableFont_wght.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;

}

body
{
	font-family: 'Raleway';
}


/* Header */



h1
{
	font-size: 1.4em;
	font-weight: normal;
}

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;

}

nav li
{
    margin-right: 20px;
    justify-content: center;

}
    
nav a
{

    font-size: 0.9em;
    color: #0065FC;
    padding-bottom: 3px;
    text-decoration: none;

}


/* couleur des stars des icônes et mise en forme !*/

.fa-star
{
    color: #F2F2F2;
}

.checked {
  color: #0065FC;
  }

#icones
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.fa-circle
{
    color: #DEEBFF;
    font-size: 50px;
    position: absolute;

}

.fa-money-bill-wave
{

    color: #0065FC;
    position: relative;
    top: 15px;
    left:15px;

}


.fa-child
{
    color: #0065FC;
    position: relative;
    top: 15px;
    left:20px;
}

.fa-heart
{
    color: #0065FC;
    position: relative;
    top: 15px;
    left:17px;
}

.fa-dog
{
    color: #0065FC;
    position: relative;
    top: 15px;
    left:17px;
}

.icone-text
{
	justify-content: center;
}



.fa-info-circle
{
    color: #FFFFFF;
}



.flotte
{
	float: left;
}


/* flexbox */

#section
{
    display: flex;
    width: 75%;
    
}

/* Bloc article*/

#hebergements
{
    display: flex;
    justify-content: flex-start;
}

#populaires
{
    display: flex;
    flex-direction: column;

}

article

{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	
}


.card img
{
    width: 190px;
    height: 80px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/* Bloc aside*/

aside
{
	display: flex;
    flex-direction: column;
   

   
}

.card2 img
{
    width: 80px;
    height: 100px;
    display: flex;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


/* texte aside*/

.flotte2
{
    float: left;
}



/* Bloc section activites*/

#activites
{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    width: 80%;
    border-radius: 10px;
    justify-content: flex-start;
    background-color: #FFFFFF;
    margin-top: 10px;
}

#left
{
    display: flex;
    flex-direction: row;
}

#right
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#left2
{
    display: flex;
    flex-direction: row;
}

#right2
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.card3
{
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 0px #F2F2F2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 10px;
}

.card3 img
{
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    white-space: wrap;
}

.card3right1
{
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 0px #F2F2F2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 10px;
}

.card3right2
{
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 0px #F2F2F2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 10px;
}

.card3-text
{
    font-size: 0.9em;
    margin: 10px;
}

.right-text
{
    font-size: 0.9em;
}

.card4
{
    border-radius: 10px;
    box-shadow: 0px 6px 0px #F2F2F2;
    margin: 10px;
}

.card4 img
{
    background-color: #FFFFFF;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    white-space: wrap;
}

.card4right1
{
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 0px #F2F2F2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 10px;
    margin-top: 20px;
}

.card4right2
{
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 0px #F2F2F2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 10px;
    margin-top: 20px;
}

.card4-text
{
    font-size: 0.9em;
    margin: 10px;
}

/* Footer*/


footer
{
    background-color: #F2F2F2;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 75%;
}


#apropos ul
{
   list-style-type: none;
   display: flex;
   flex-direction: column;
}

#nos ul
{
   list-style-type: none;
   display: flex;
   flex-direction: column;
   margin-left: 40px;
}

#assistance ul
{
   list-style-type: none;
   display: flex;
   flex-direction: column;
   margin-left: 40px;
}


.liste_propos a
{
    
   font-size: 0.9em;
   text-decoration: none; 
   color: #000000;
}


.liste_hebergements a
{
    font-size: 0.9em;
    text-decoration: none;
    color: #000000;
}

.liste_assistance a
{
    font-size: 0.9em;
    text-decoration: none;
    color: #000000;
}